.educations {
  display: flex;
  border-bottom: 0.5px solid #cccccc;
  font-size: 0.8rem;
  .educations__container {
    width: 80%;
    margin: 0 auto;
    .educations__title {
      font-size: 2rem;
      text-align: start;
    }
    .educations__row {
      padding: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 0.5px solid #cccccc;
      .educations__icon {
        font-size: 1.5rem;
        width: 10%;
      }
      .educations__label {
        width: 50%;
      }
      .educations__content {
        width: 40%;
      }
    }
  }
}
