.educations {
  display: flex;
  border-bottom: 0.5px solid #cccccc;
  font-size: 0.8rem;
  padding-top: 4rem;
  .educations__container {
    width: 100%;
    margin: 0 auto;
    .educations__title {
      font-size: 2rem;
      text-align: start;
    }
    .educations__row {
      padding: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 0.5px solid #cccccc;
      .educations__icon {
        font-size: 1.5rem;
        width: 10%;
      }
      .educations__label {
        width: 50%;
      }
      .educations__content {
        width: 40%;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .educations {
    font-size: 1.2rem;
    .educations__container {
      .educations__title {
        font-size: 2.4rem;
      }
      .educations__row {
        .educations__icon {
          font-size: 2rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .educations {
    font-size: 2rem;
    .educations__container {
      .educations__title {
        font-size: 3.6rem;
      }
      .educations__row {
        .educations__icon {
          font-size: 3rem;
        }
      }
    }
  }
}
