@use '../utils/color';

.header {
  border-bottom: 0.5px solid #cccccc;
  .header__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 1600px;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .header__logo {
      font-size: 2rem;
    }
    .header__nav-btn {
      display: flex;
      font-size: 2rem;
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: #cccccc;
      background-color: white;
      border: 0.5px solid #cccccc;
    }
  }
  .header__nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    list-style-type: none;
    ul {
      padding: 0;
      z-index: 1;
      text-align: center;
    }
  }
  .header__nav--clicked {
    max-height: 180px;
  }
}
