.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  .image-slider__control {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .image-slider__container {
    width: 80%;
    overflow: hidden;
    .image-slider__images {
      display: flex;
      cursor: pointer;
      .image-slider__image {
        max-height: 12rem;
        flex: none;
        object-fit: contain;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .image-slider {
    .image-slider__control {
      font-size: 3rem;
    }
    .image-slider__container {
      .image-slider__images {
        .image-slider__image {
          max-height: 20rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .image-slider {
    .image-slider__control {
      font-size: 3rem;
    }
    .image-slider__container {
      .image-slider__images {
        .image-slider__image {
          max-height: 36rem;
        }
      }
    }
  }
}
