.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  .image-slider__control {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .image-slider__container {
    width: 80%;
    overflow: hidden;
    .image-slider__images {
      display: flex;
      cursor: pointer;
      .image-slider__image {
        max-height: 12rem;
        flex: none;
        object-fit: contain;
      }
    }
  }
}
