.projects {
  display: flex;
  border-bottom: 0.5px solid #cccccc;
  .projects__container {
    width: 80%;
    margin: 0 auto;
    .projects__title {
      font-size: 2rem;
      text-align: start;
    }
    .projects__project {
      padding-bottom: 1rem;
      .projects__name {
        font-size: 1.6rem;
      }
    }
  }
}
