.projects {
  display: flex;
  border-bottom: 0.5px solid #cccccc;
  font-size: 0.8rem;
  .projects__container {
    width: 80%;
    margin: 0 auto;
    .projects__title {
      font-size: 2rem;
      text-align: start;
    }
    .projects__project {
      padding-bottom: 1rem;
      .projects__name {
        font-size: 1.6rem;
      }
      .projects__row {
        display: flex;
        align-items: center;
        border-bottom: 0.5px solid #cccccc;
        .projects__icon {
          font-size: 1.5rem;
          width: 10%;
        }
        .projects__label {
          width: 20%;
        }
        .projects__content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 70%;
          .projects__feature {
            text-align: start;
          }
          .projects__skills {
            display: flex;
            flex-wrap: wrap;
            .projects__skill {
              padding: 0 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .projects {
    font-size: 1.2rem;
    .projects__container {
      .projects__title {
        font-size: 2.4rem;
      }
      .projects__project {
        .projects__name {
          font-size: 2rem;
        }
        .projects__row {
          .projects__icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
