@use '../utils/color';

.profile {
  display: flex;
  border-bottom: 0.5px solid #cccccc;
  .profile__container {
    margin: 0 auto;
    .profile__title {
      font-size: 2rem;
      text-align: start;
    }
    .profile__row {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid #cccccc;
      .profile__icon {
        font-size: 1.5rem;
        width: 10%;
      }
      .profile__label {
        width: 20%;
      }
      .profile__content {
        width: 70%;
        a {
          // color: black;
          font-size: 0.7rem;
          text-decoration: none;
          &:hover {
            color: color.$color-2;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .profile {
    .profile__container {
      .profile__title {
        font-size: 2.4rem;
      }
      .profile__row {
        font-size: 1.2rem;
        .profile__icon {
          font-size: 2rem;
        }
        .profile__label {
          font-size: 1.2rem;
        }
        .profile__content {
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
