.light {
  color: #343a40;
  background-color: white;
  a {
    color: #343a40;
    text-decoration: none;
  }
  button {
    color: #343a40;
    background-color: white;
  }
}

.dark {
  color: white;
  background-color: #343a40;
  a {
    color: white;
    text-decoration: none;
  }
  button {
    color: white;
    background-color: #343a40;
  }
}
